@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-black bg-white;
}

.hoverBlue {
    @apply hover:text-blue-600 text-blue-500 transition;
}

.hoverBlue {
    @apply dark:hover:text-blue-500 dark:text-blue-400;
}

body {
    @apply dark:text-white dark:bg-neutral-900;
}

.btn-success {
    @apply rounded cursor-pointer bg-green-500 hover:bg-green-600 transition disabled:bg-green-400 disabled:hover:bg-green-400 disabled:cursor-not-allowed
}

.btn-secondary {
    @apply rounded cursor-pointer bg-neutral-500 hover:bg-neutral-600 transition disabled:bg-green-400 disabled:hover:bg-neutral-400 disabled:cursor-not-allowed
}

.btn-cancel {
    @apply rounded cursor-pointer bg-red-500 hover:bg-red-600 transition disabled:bg-red-400 disabled:hover:bg-red-400 disabled:cursor-not-allowed
}
